:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Nebulosa', sans-serif;
  --color-white: #fff;
  --color-white-85: #FFFFFFD9;
  --color-white-70: #FFFFFFB2;
  --color-white-50: #FFFFFF80;
  --color-white-15: #FFFFFF26;
  --color-white-10: #FFFFFF1A;
  --color-black: #000;
  --color-black-50: #15141C80;
  --color-black-20: #00000033;
  --color-black-15: #00000026;
  --color-primary: #15141C;
  --color-primary-90: #15141CE5;
  --color-primary-70: #5C5B61;
  --color-primary-light: #2C2B32;
  --color-accent: #204194;
  --color-accent-90: #132478E5;
  --color-accent-80: #204194CC;
  --color-accent-10: #1324781A;
  --color-accent-dark: #19306b;
  --color-grey: #888785;
  --color-grey-100: #F5F5F5;
  --color-border: #F3F2F0;
  --color-error: #FF0000;
}

