@use '../mixins' as *;

.brands {
  overflow: hidden;

  &__slider {

    .swiper-wrapper {
      transition-timing-function: linear !important;
    }
  }
}

.brands-card {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: var(--color-grey-100);
  overflow: hidden;
  border-radius: 20px;

  @media(max-width: 767.98px) {
    height: 64px;
    padding: 14px 24px;
    border-radius: 10px;
  }

  picture {
    display: block;

    @include mq($m) {
      width: 100%;
      height: 100%;
    }

    img {
      display: block;

      @include mq($m) {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }


}