.categories {

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @media(max-width: 767px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

.categories-item {
  position: relative;
  border-radius: 20px;
  overflow: hidden;

  @media(max-width: 767px) {
    border-radius: 12px;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 767px) {
      padding: 12px;
    }
  }

  &__name {
    max-width: 405px;
    width: 100%;
    padding: 24px;
    border-radius: 20px;
    text-align: center;
    background-color: var(--color-white-85);
    backdrop-filter: blur(5px);
    font-weight: 600;

    @media(max-width: 767px) {
      max-width: 100%;
      padding: 13px;
      border-radius: 12px;
    }
  }
}