@use '../mixins' as *;

.catalog {

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include mq($xl) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq($m) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

.catalog-item {
  position: relative;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;

  &__img {
    display: block;
    width: 100%;

    img {
      display: block;
      width: 100%;
    }
  }

  &__title {
    position: absolute;
    inset: auto 20px 20px;
    padding: 24px;
    width: calc(100% - 40px);
    border-radius: 20px;
    background-color: var(--color-white-85);
    backdrop-filter: blur(5px);
    text-align: center;
    font-weight: 600;
  }
}