@use '../mixins' as *;

.contact-us {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;

  @include mq($m) {
    padding-left: 0;
    padding-right: 0;
  }

  &__wrapper {
    position: relative;
    padding: 100px 0 50px;
    border-radius: 20px;
    background: url('../images/lines.svg') center center / cover no-repeat, var(--color-accent);
    z-index: 1;

    @include mq($m) {
      border-radius: 0;
      padding: 50px 0;
      background-image: url('../images/lines-sm.svg');
    }
  }

  &__decor {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  &__title {
    color: var(--color-white);
    margin-bottom: 50px;

    span {
      display: block;
      opacity: 0.6;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mq($m) {
      gap: 10px;
    }
  }
}