@use '../mixins' as *;

.contact-us {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;

  @include mq($m) {
    padding-left: 0;
    padding-right: 0;
  }

  &__head {
    position: relative;
    padding-right: 150px;

    @include mq($m) {
      padding-right: 0;
      padding-top: 50px;
    }
  }

  &__close {
    --size: 64px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    background-color: var(--color-white);
    z-index: 2;
    border: none;
    border-radius: 50%;

    @include mq($m) {
      --size: 48px;
      transform: translateY(0);
      top: -25px;
    }
  }

  &__wrapper {
    position: relative;
    padding: 100px 0 50px;
    border-radius: 20px;
    background: url('../images/lines.svg') center center / cover no-repeat, var(--color-accent);
    z-index: 1;

    @include mq($m) {
      border-radius: 0;
      padding: 50px 0;
      background-image: url('../images/lines-sm.svg');
    }
  }

  &__decor {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  &__title {
    color: var(--color-white);
    margin-bottom: 50px;

    span {
      display: block;
      opacity: 0.6;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mq($m) {
      gap: 10px;
    }
  }
}