@use '../mixins' as *;

.contacts {
  overflow: hidden;

  .section-heading__title {
    span {
      display: block;

      @include mq($m) {
        display: inline;
      }
    }
  }


  &__inner {
    position: relative;
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: 20px;
    z-index: 1;

    @include mq($l) {
      flex-direction: column;
    }
  }

  &__decor {
    position: absolute;
    top: -110px;
    right: -110px;
    z-index: -1;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    width: 40%;
    padding: 50px;
    background-color: var(--color-grey-100);
    border-radius: 20px;

    @include mq($xxl) {
      padding: 32px;
    }

    @include mq($xl) {
      width: 50%;
    }

    @include mq($l) {
      width: 100%;
      padding: 30px 20px 20px;
      gap: 24px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__line {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding-bottom: 29px;
    border-bottom: 1px solid var(--color-black-15);

    @include mq($m) {
      gap: 8px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    @include mq($m) {
      gap: 8px;
    }

    &-link {
      font-size: 24px;
      font-weight: 600;

      @include mq($xxl) {
        font-size: 20px;
      }

      @include mq($m) {
        font-size: 14px;
      }
    }

    &-label {
      color: var(--color-primary-50);

      @include mq($xxl) {
        font-size: 14px;
      }

      @include mq($m) {
        font-size: 12px;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-btn {
      @include mq($m) {
        display: none;
      }
    }
  }

  &__btn {
    display: none;

    @include mq($m) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__map {
    width: 60%;
    border: 5px solid var(--color-accent);
    border-radius: 20px;
    overflow: hidden;

    @include mq($xl) {
      width: 50%;
    }

    @include mq($l) {
      width: 100%;
      height: 400px;
      border-width: 2px;
    }

    @include mq($m) {
      height: 280px;
    }
  }
}

.map {
  width: 100%;
  height: 100%;
}

[class*="copyrights-pane"],
[class*="controls-pane"] {
  display: none;
}