@use '../mixins' as *;

.contact-us {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;

  @include mq($m) {
    padding-left: 0;
    padding-right: 0;
  }

  &__close {
    --size: 64px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    background-color: var(--color-white);
    z-index: 2;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    @include mq($m) {
      --size: 48px;
      top: -120px;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--color-accent);
      color: var(--color-white);
    }
  }

  &__wrapper {
    position: relative;
    padding: 50px 0;
    border-radius: 20px;
    background: url('../images/contact-us/bg.jpg') center center / cover no-repeat, var(--color-accent);
    z-index: 1;

    @include mq($m) {
      border-radius: 0;
      padding: 50px 0;
    }
  }

  &__title {
    color: var(--color-white);

    @include mq($xl) {
      display: none;
    }

    span {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  .b24-form {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    flex-shrink: 0;

    @include mq($m) {
      flex-shrink: unset;
    }
  }

  .b24-form-wrapper {
    max-width: 500px;
    margin-left: auto;
    margin-right: 0;
    background: url('../images/contact-us/form-bg.jpg') center center / cover no-repeat;
    border-radius: 20px;
  }

  .b24-form-wrapper.b24-form-shadow {
    box-shadow: none;
  }

  .b24-form-content {
    padding: 10px 30px;

    @include mq($m) {
      padding: 10px 20px;
    }
  }

  .b24-form-wrapper.b24-form-border-bottom {
    border-bottom: none;
  }

  .b24-form-header-padding {
    padding: 20px 0 0 0;

    @include mq($m) {
      padding-top: 10px;
    }
  }

  .b24-form-control-container {
    margin-bottom: 0;
  }

  .b24-form-control-list .b24-form-control,
  .b24-form-control-select .field-item,
  .b24-form-control-string .b24-form-control,
  .b24-form-control-text .b24-form-control {
    font-family: var(--font-primary);
    background-color: var(--color-white);
    border-color: var(--color-white);
    border-radius: 10px;
    color: var(--color-black);
  }

  .b24-form-control-list .b24-form-control-label,
  .b24-form-control-string .b24-form-control-label,
  .b24-form-control-text .b24-form-control-label {
    font-family: var(--font-primary);
    color: #00000066;
  }


  .b24-form-control-alert.b24-form-control-checkbox,
  .b24-form-control-alert.b24-form-control-file,
  .b24-form-control-alert.b24-form-control-list .b24-form-control,
  .b24-form-control-alert.b24-form-control-radiobox,
  .b24-form-control-alert.b24-form-control-string .b24-form-control,
  .b24-form-control-alert.b24-form-control-text .b24-form-control {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  .b24-form-control-list .b24-form-control:focus:not([readonly]),
  .b24-form-control-select .field-item:focus:not([readonly]),
  .b24-form-control-string .b24-form-control:focus:not([readonly]),
  .b24-form-control-text .b24-form-control:focus:not([readonly]) {
    background-color: var(--color-white);
    color: var(--color-black);
    border-color: var(--color-white);
  }

  .b24-form-btn {
    font-family: var(--font-primary);
    font-size: 18px;
    line-height: 1.3;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;

    &:hover {
      background-color: var(--color-accent-dark);
    }
  }

  .b24-form .b24-form-sign {
    gap: 12px;
    padding: 10px 30px;

    @include mq($m) {
      padding: 10px 20px 24px;
    }
  }

  .b24-form .b24-form-sign-abuse-link {
    font-family: var(--font-primary);
    color: var(--color-white);
    opacity: 1;
  }

  .b24-form .b24-form-sign-abuse-help {
    display: none;
  }

  .b24-form-field-agreement .b24-form-control-container {
    padding-left: 42px;

    input:checked+.b24-form-control-desc::after {
      opacity: 1;
    }
  }


  .b24-form-field-agreement .b24-form-control-desc {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      top: 0;
      left: -42px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
    }

    &::after {
      position: absolute;
      content: '';
      width: 30px;
      height: 30px;
      top: 0;
      left: -42px;
      background: url('../images/icons/check.svg') center center / 30px no-repeat;
      z-index: 2;
      opacity: 0;
    }
  }

  .b24-form-field-agreement input[type="checkbox"] {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0px;
    z-index: 2;
    opacity: 0;
  }

  .b24-form-field-agreement .b24-form-control-desc {
    font-size: 12px;
    line-height: 1.3;
    opacity: 1;
  }

  .b24-form-field-agreement .b24-form-field-agreement-link {
    font-family: var(--font-primary);
    color: var(--color-white);
  }
}