@use '../mixins' as *;

.documents {

  .section-heading__title {
    max-width: 1300px;
  }

  &__inner {
    position: relative;
    z-index: 1;
  }

  &__decor {
    position: absolute;
    left: 5%;
    bottom: calc((var(--size) / 2) * -1);
    z-index: -1;
  }

  &__list {
    width: 100%;
    overflow: hidden;

    .swiper-slide-active {

      @include mq($m) {
        .documents-item {
          background-color: var(--color-accent);
        }

        .documents-item__icon {
          opacity: 1;
        }

        .documents-item__title {
          background-color: var(--color-accent);
        }
      }
    }

    .slider-pagination {
      display: none;

      @include mq($m) {
        display: flex;
      }
    }
  }
}

.documents-item {
  display: block;
  width: 100%;
  padding: 22px;
  border-radius: 20px;
  background-color: var(--color-grey-100);
  transition: background-color 0.3s;

  @include mq($m) {
    padding: 18px;
    border-radius: 16px;
  }

  @include mq-hover {
    &:hover {
      background-color: var(--color-accent);

      .documents-item__icon {
        opacity: 1;
      }

      .documents-item__title {
        background-color: var(--color-accent);
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    border-radius: 20px;
    border: 1px solid var(--color-black-20);
    overflow: hidden;

    @include mq($m) {
      border-radius: 16px;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: var(--color-accent-90);
    opacity: 0;
    transition: opacity 0.3s;
  }

  &__title {
    --height: 68px;
    position: absolute;
    bottom: 52px;
    left: 44px;
    right: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 88px);
    padding: 12px;
    text-align: center;
    background-color: var(--color-accent-80);
    border-radius: 20px;
    color: var(--color-white);
    font-weight: 600;
    min-height: var(--height);
    transition: background-color 0.3s;

    @include mq($m) {
      --height: 44px;
      padding: 12px 12px;
      inset: auto 36px 36px 36px;
      width: calc(100% - 72px);
      border-radius: 16px;
    }
  }
}