@use '../mixins' as *;

.hero {
  padding-top: 32px;

  @include mq($m) {
    padding-top: 0;
  }

  &__main {
    display: flex;
    align-items: stretch;
    gap: 20px;

    @include mq($m) {
      flex-direction: column;
    }
  }

  &__banner {
    position: relative;
    width: calc(50% - 10px);
    overflow: hidden;

    @include mq($m) {
      width: 100%;
    }
  }

  &__slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
  }

  &__thumbs {
    position: absolute;
    left: 50%;
    bottom: 30px;
    background-color: var(--color-white);
    padding: 8px;
    border-radius: 100px;
    transform: translateX(-50%);
    z-index: 2;
    min-width: fit-content;
    max-width: 90%;
    box-sizing: border-box;

    @include mq($m) {
      bottom: 4px;
      padding: 4px;
      max-width: 95%;
    }

    .swiper-wrapper {
      display: flex;
      justify-content: center;
    }

    .swiper-slide {
      width: auto !important;
      /* Отменяем фиксированную ширину слайдов */
    }

    .swiper-slide-thumb-active {
      .hero__thumb {
        border-color: var(--color-primary);
      }
    }
  }

  &__thumb {
    display: block;
    width: 64px;
    height: 64px;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;
    /* Запрещаем уменьшение размера */

    @include mq($m) {
      width: 32px;
      height: 32px;
      padding: 2px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    width: calc(50% - 10px);
    padding: 50px;
    border-radius: 20px;
    background: url('../images/hero/hero-lines.svg') center bottom / cover no-repeat, var(--color-grey-100);

    @include mq($xxl) {
      padding: 30px;
      gap: 30px;
    }

    @include mq($m) {
      width: 100%;
      padding: 20px;
      border-radius: 10px;
      background-position: center top;
    }
  }

  &__title {
    font-family: var(--font-secondary);
    font-size: 50px;

    @include mq($xxl) {
      font-size: 40px;
    }

    @include mq($l) {
      font-size: 32px;
    }

    @include mq($m) {
      font-size: 20px;
    }

    span {
      color: var(--color-accent);
    }
  }

  &__tip {
    font-weight: 500;

    span {
      color: var(--color-accent);
      font-weight: 800;
    }
  }

  &__btn {

    @include mq($m) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;

    @include mq($m) {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
    }
  }

  &__block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding: 30px;
    background-color: var(--color-primary);
    color: var(--color-white);
    overflow: hidden;
    border-radius: 20px;

    @include mq($m) {
      padding: 20px;
      min-height: 240px;
    }

    &--accent {
      background-color: var(--color-accent);
    }

    &-desc {
      font-weight: 500;
    }

    &-img {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}