@use '../mixins' as *;

.objects {

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include mq($m)  {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__item {
    padding: 40px;
    background-color: var(--color-grey-100);
    border-radius: 20px;

    @include mq($xxl) {
      padding: 32px;
    }

    @include mq($l) {
      padding: 20px;
    }

    &-head {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
      margin-bottom: 72px;

      @include mq(1600px) {
        margin-bottom: 40px;
      }

      @include mq($xxl) {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 24px;
        margin-bottom: 24px;
      }
    }

    &-desc {

      ul {
        li {
          position: relative;
          padding-left: 20px;
          color: var(--color-primary-90);

          &:not(:last-child) {
            margin-bottom: 10px;

            @include mq($xxl) {
              margin-bottom: 4px;
            }
          }

          &::before {
            content: '';
            width: 3px;
            height: 3px;
            background-color: currentColor;
            position: absolute;
            top: 10px;
            left: 5px;
            border-radius: 50%;
          }
        }
      }
    }

    &-title {
      font-family: var(--font-secondary);
      font-size: 45px;

      @include mq(1600px) {
        font-size: 32px;
      }

      @include mq($xxl) {
        font-size: 20px;
      }
    }

    &-icon {
      --size: 132px;
      --iconSize: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--size);
      height: var(--size);
      background-color: var(--color-white);
      border-radius: 50%;
      flex-shrink: 0;

      @include mq($xxl) {
        --size: 74px;
        --iconSize: 32px;
      }

      img {
        display: block;
        width: var(--iconSize);
        height: var(--iconSize);
      }
    }
  }
}