@use '../mixins' as *;

.product {

  .container {
    display: flex;
    flex-direction: column;
    gap: 100px;

    @include mq($l) {
      gap: 50px;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    gap: 70px;

    @include mq($xxl) {
      gap: 40px;
    }

    @include mq($l) {
      align-items: flex-start;
    }

    @include mq($m) {
      flex-direction: column;
      gap: 0;
    }
  }

  &__head {
    display: none;

    @include mq($m) {
      display: block;
      margin-bottom: 24px;
    }
  }

  &__gallery {
    display: flex;
    align-items: stretch;
    gap: 20px;
    width: 50%;
    overflow: hidden;

    @include mq($l) {
      flex-direction: column;
      gap: 0;
    }

    @include mq($m) {
      width: 100%;
      margin-bottom: 50px;
    }

    .slider-pagination {
      display: none;

      @include mq($l) {
        display: flex;
      }
    }
  }

  &__thumbs {
    width: 92px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mq($l) {
      display: none;
    }

    &-slider {
      flex-grow: 1;
      overflow: hidden;
      height: 612px;

      @include mq($xxl) {
        height: 454px;
      }

      .swiper-slide {
        width: 92px;
        height: 138px;
      }
    }

    &-preview {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 92px;
      height: 50px;
      background-color: var(--color-accent);
      color: var(--color-white);
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      @include mq-hover {
        background-color: var(--color-accent-dark);
      }
    }
  }

  &__slider {
    width: calc(100% - 112px);
    overflow: hidden;

    @include mq($l) {
      width: 100%;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    width: 50%;

    @include mq($m) {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 40px;

    @include mq($m) {
      display: none;
    }
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;

    @include mq($xl) {
      font-size: 20px;
    }

    @include mq($m) {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &__desc {
    margin-bottom: 40px;

    @include mq($m) {
      margin-bottom: 20px;
    }
  }

  &__btn {
    min-width: 200px;
    justify-content: space-between;

    @include mq($m) {
      width: 100%;
    }
  }

  &__block {


    &-title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 24px;

      @include mq($m) {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }
  }
}

.product-details {
  display: none;

  @include mq($l) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-grey-100);

    &-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 12px;
    }

    &-desc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    &-label {
      font-weight: 600;
    }
  }
}

.product-table {


  @include mq($l) {
    display: none;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;

  &__head {

    &-cell {
      padding: 20px 16px;
      text-align: left;
      background-color: var(--color-accent);
      color: var(--color-white);
      font-weight: 600;

      @include mq($xxl) {
        font-size: 14px;
        padding: 16px 12px;
      }

      &:first-child {
        border-radius: 10px 0 0 10px;
        padding-left: 32px;

        @include mq($xxl) {
          padding-left: 24px;
        }
      }

      &:last-child {
        border-radius: 0 10px 10px 0;
        padding-right: 32px;

        @include mq($xxl) {
          padding-right: 24px;
        }
      }
    }
  }

  &__row {

    &:nth-child(odd) {
      background-color: var(--color-grey-100);
    }
  }

  &__cell {
    padding: 16px 16px;

    @include mq($xxl) {
      font-size: 14px;
      padding: 14px 12px;
    }

    .btn {
      justify-content: space-between;
      width: 200px;
    }

    &:first-child {
      border-radius: 10px 0 0 10px;
      padding-left: 32px;

      @include mq($xxl) {
        padding-left: 24px;
      }
    }

    &:last-child {
      border-radius: 0 10px 10px 0;
      padding-right: 32px;

      @include mq($xxl) {
        padding-right: 24px;
      }
    }
  }
}

.product-tech {

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include mq($m) {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: calc(100% + 40px);
      margin: 0 -20px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 32px 32px 40px;
    background-color: var(--color-grey-100);
    border-radius: 10px;

    @include mq($l) {
      padding: 16px 20px;
    }

    @include mq($m) {
      border-radius: 0;
    }

    &-label {
      color: var(--color-black-50);
    }

    &-desc {
      font-weight: 600;
    }
  }
}

.product-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @include mq($m) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  &__item {
    width: 100%;
    height: 100%;

    &--xl {
      grid-column: span 2;

      @include mq($m) {
        grid-column: unset;
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;

    @include mq($m) {
      aspect-ratio: 1/1;
    }



    &--mob {
      display: none;

      @include mq($m) {
        display: block;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}