@use '../mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,p,ul {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding-left: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-primary);
  font-size: 18px;
  line-height: 1.25;
  color: var(--color-primary);
  background-color: var(--color-white);

  @media(max-width: 767px) {
    font-size: 14px;
  }

  &.lock {
    overflow: hidden;
    padding-right: 15px;

    @media(max-width: 1660px) {
      padding-right: 0;
    }
  }
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1640px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.icon {
  width: 24px;
  height: 24px;

  &--xl {
    width: 32px;
    height: 32px;
  }

  &--m {
    width: 20px;
    height: 20px;
  }

  &--sm {
    width: 16px;
    height: 16px;
  }
}

.color-accent {
  color: var(--color-accent);
}

.circle-decor {
  --size: 240px;
  width: var(--size);
  height: var(--size);

  @include mq($l) {
    display: none;
  }
}

.socials-link {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-grey-100);
  color: var(--color-accent);
  transition: .3s;

  &--black {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &--white {
    background-color: var(--color-primary-light);
    color: var(--color-white);
  }

  @media(any-hover: hover) {
    &:hover {
      background-color: var(--color-accent);
      color: var(--color-white);
    }
  }
}