@font-face {
  font-family: 'Nebulosa';
  src: url('../../fonts/Nebulosa-Black.woff') format('woff'), 
  url('../../fonts/Nebulosa-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


// @font-face {
//   font-family: 'Montserrat';
//   src: url('../../fonts/Montserrat-Regular.woff') format('woff'),
//   url('../../fonts/Montserrat-Regular.woff2') format('woff2');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Montserrat';
//   src: url('../../fonts/Montserrat-SemiBold.woff') format('woff'),
//   url('../../fonts/Montserrat-SemiBold.woff2') format('woff2');
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }