@use '../mixins' as *;

.h2 {
  font-family: var(--font-secondary);
  font-size: 55px;
  line-height: 1.3;
  font-weight: 900;

  @include mq($xxl) {
    font-size: 40px;
  }

  @include mq($l) {
    font-size: 32px;
  }

  @include mq($m) {
    font-size: 20px;
  }
}

.h3 {
  font-family: var(--font-secondary);
  font-size: 35px;
  line-height: 1.25;
  font-weight: 900;

  @include mq($xl) {
    font-size: 24px;
  }

  @include mq($m) {
    font-size: 14px;
  }
}

.h4 {
  font-family: var(--font-secondary);
  font-size: 22px;
  line-height: 1.25;
  font-weight: 900;

  @include mq($m) {
    font-size: 20px;
  }
}