@use '../mixins' as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 8px 8px 20px;
  background-color: var(--color-accent);
  color: var(--color-white);
  font-size: 18px;
  line-height: 1.25;
  font-family: var(--font-primary);
  font-weight: 600;
  border-radius: 500px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  @include mq($m) {
    justify-content: space-between;
    padding: 6px 8px 6px 20px;
    font-size: 14px;
  }

  @include mq-hover {
    background-color: var(--color-accent-dark);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    background-color: var(--color-white);
    color: var(--color-primary);
    border-radius: 50%;
    flex-shrink: 0;

    .icon {
      width: 20px;
      height: 20px;
    }
  }

  &--wide {
    width: 100%;
  }

  &--transparent {
    background-color: var(--color-white-10);
    color: var(--color-white);
  }
}