@use '../mixins' as *;

.form-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media(max-width: 767.98px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.form-group {
  position: relative;
  width: 100%;
  padding: 25px;
  background-color: var(--color-white);
  border-radius: 20px;

  @include mq($m) {
    padding: 16px 20px;
    border-radius: 10px;
  }
}

.form-label {
  display: block;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 8px;
  color: var(--color-grey);

  @include mq($m) {
    font-size: 12px;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  font-family: var(--font-primary);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  color: var(--color-primary);

  @include mq($m) {
    font-size: 14px;
  }
}

textarea.form-control {
  resize: none;

  @include mq($m) {
    height: 96px;
  }
}

.form-checkbox {

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked+.form-checkbox__label {

      .form-checkbox__icon::before {
        opacity: 1;
      }
    }
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    color: var(--color-white);

  }

  &__icon {
    --size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    background-color: var(--color-white-10);
    border-radius: 10px;

    &::before {
      content: '';
      display: block;
      width: var(--size);
      height: var(--size);
      background: url('../images/icons/checked.svg') no-repeat center center / var(--size);
      opacity: 0;
    }
  }

  &__desc {

    a {
      text-decoration: underline;
    }
  }
}