@use '../mixins' as *;

.slider-nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.slider-nav-btn {
  --size: 62px;
  --iconSize: 32px;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-accent-10);
  color: var(--color-accent);
  transition: 0.3s;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  @include mq-hover {
    background-color: var(--color-accent);
    color: var(--color-white);
  }

  .icon {
    width: var(--iconSize);
    height: var(--iconSize);
  }
}

.slider-pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-top: 20px;


  .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    margin: 0 !important;
    border-radius: 50%;
    background-color: var(--color-accent-10);
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--color-accent);
  }
}